<!-- Contant WorkOrder -->
<div id="contant-WorkOrder" class="tabBlock-pane none-display">
    <!-- vb start workorder-->
    <li class="sub-menu WorkOrder">
        <a href="javascript:;" class=""><img width="20px" src="asset/Image/Close_Book.png"><span>
                Coming Soon...
            </span>
        </a>
        <!-- vb end-->
    </li>
</div>