<div class="mt-5 mb-5 pt-4">
    <p class="text-center">
        <span>
            <img id="imageVebko" width="350px" class="img-fluid" src="asset/Image/LOGO_EN.png">
        </span>
    </p>

    <h3 class="mt-5 text-center font-weight-bold">Vebko Manual</h3>

</div>
<div class="social text-center mt-5">

    <a href="https://www.youtube.com/VebkoCompany" class="sharer button">
        <img src="asset/Image/youtube.png"
             class="img-icon">
    </a>

    <a href="https://www.linkedin.com/company/amt-vebko/" class="sharer button">
        <img src="asset/Image/linkedin.png"
             class="img-icon">
    </a>

    <a href="https://instagram.com/vebko_amirkabir" class="sharer button">
        <img src="asset/Image/instagram.png"
             class="img-icon">
    </a>

    <a href="https://vebko.org/en/ContactUs.aspx" class="sharer button">
        <img src="asset/Image/twitter.png"
             class="img-icon">
    </a>

    <a href="https://www.aparat.com/vebko" class="sharer button">
        <img src="asset/Image/icon--color-black@64px.png"
             class="img-icon">
    </a>
</div>