<!--Contant WhatsNewBug Option -->
<div id="contant-WhatsNew_BO" class="tabBlock-pane none-display">
<!-- vb start WhatsNew BO-->

<li id="AMTDIFFERENTIAL_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTDIFFERENTIAL</span>
    </a>
    <ul class="sub">
        <li id="AMTDIFFERENTIAL_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTDIFFERENTIAL\AMTDIFFERENTIAL_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="AMTDIFFERENTIAL_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTDIFFERENTIAL\AMTDIFFERENTIAL_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="AMTDIFFHARMONICS_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTDIFFHARMONICS</span>
    </a>
    <ul class="sub">
        <li id="AMTDIFFHARMONICS_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTDIFFHARMONICS\AMTDIFFHARMONICS_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="AMTDIFFHARMONICS_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTDIFFHARMONICS\AMTDIFFHARMONICS_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="AMTDISTANCE_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTDISTANCE</span>
    </a>
    <ul class="sub">
        <li id="AMTDISTANCE_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTDISTANCE\AMTDISTANCE_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="AMTDISTANCE_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTDISTANCE\AMTDISTANCE_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="AMTOVERCURRENT_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTOVERCURRENT</span>
    </a>
    <ul class="sub">
        <li id="AMTOVERCURRENT_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTOVERCURRENT\AMTOVERCURRENT_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="AMTOVERCURRENT_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTOVERCURRENT\AMTOVERCURRENT_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="AMTSEQUENCER_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTSEQUENCER</span>
    </a>
    <ul class="sub">
        <li id="AMTSEQUENCER_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTSEQUENCER\AMTSEQUENCER_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="AMTSEQUENCER_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTSEQUENCER\AMTSEQUENCER_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="AMTSYNCHRONIZER_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTSYNCHRONIZER</span>
    </a>
    <ul class="sub">
        <li id="AMTSYNCHRONIZER_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTSYNCHRONIZER\AMTSYNCHRONIZER_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="AMTSYNCHRONIZER_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTSYNCHRONIZER\AMTSYNCHRONIZER_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="AMTTRANSDUCER_METER_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTTRANSDUCER&METER</span>
    </a>
    <ul class="sub">
        <li id="AMTTRANSDUCER_METER_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTTRANSDUCER&METER\AMTTRANSDUCER_METER_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="AMTTRANSDUCER_METER_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTTRANSDUCER&METER\AMTTRANSDUCER_METER_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="AMTTRANSDUCER_METER_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTTRANSIENT</span>
    </a>
    <ul class="sub">
        <li id="AMTTRANSIENT_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTTRANSIENT\AMTTRANSIENT_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="AMTVISTARTING_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTVISTARTING</span>
    </a>
    <ul class="sub">
        <li id="AMTVISTARTING_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTVISTARTING\AMTVISTARTING_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="AMTVISTARTING_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AMTVISTARTING\AMTVISTARTING_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="AUTORECLOSURE_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AUTORECLOSURE</span>
    </a>
    <ul class="sub">
        <li id="AUTORECLOSURE_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AUTORECLOSURE\AUTORECLOSURE_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="AUTORECLOSURE_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\AUTORECLOSURE\AUTORECLOSURE_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="CAPACITORVOLTAGETRANSFORMER_CVT__sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>CAPACITORVOLTAGETRANSFORMER(CVT)</span>
    </a>
    <ul class="sub">
        <li id="CAPACITORVOLTAGETRANSFORMER_CVT__Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\CAPACITORVOLTAGETRANSFORMER(CVT)\CAPACITORVOLTAGETRANSFORMER_CVT__Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="CAPACITORVOLTAGETRANSFORMER_CVT__Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\CAPACITORVOLTAGETRANSFORMER(CVT)\CAPACITORVOLTAGETRANSFORMER_CVT__Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="CIRCUITBREAKER_CB__sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>CIRCUITBREAKER(CB)</span>
    </a>
    <ul class="sub">
        <li id="CIRCUITBREAKER_CB__Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\CIRCUITBREAKER(CB)\CIRCUITBREAKER_CB__Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="CIRCUITBREAKER_CB__Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\CIRCUITBREAKER(CB)\CIRCUITBREAKER_CB__Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="CURRENTTRANSFORMER_CT__sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>CURRENTTRANSFORMER(CT)</span>
    </a>
    <ul class="sub">
        <li id="CURRENTTRANSFORMER_CT__Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\CURRENTTRANSFORMER(CT)\CURRENTTRANSFORMER_CT__Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="CURRENTTRANSFORMER_CT__Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\CURRENTTRANSFORMER(CT)\CURRENTTRANSFORMER_CT__Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="HARDWARE_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>HARDWARE</span>
    </a>
    <ul class="sub">
        <li id="HARDWARE_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\HARDWARE\HARDWARE_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="HARDWARE_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\HARDWARE\HARDWARE_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="HOMEPAGE_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>HOMEPAGE</span>
    </a>
    <ul class="sub">
        <li id="HOMEPAGE_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\HOMEPAGE\HOMEPAGE_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="HOMEPAGE_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\HOMEPAGE\HOMEPAGE_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="INSTRUMENTTEST_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>INSTRUMENTTEST</span>
    </a>
    <ul class="sub">
        <li id="INSTRUMENTTEST_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\INSTRUMENTTEST\INSTRUMENTTEST_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="INSTRUMENTTEST_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\INSTRUMENTTEST\INSTRUMENTTEST_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="MEDIUMMODULES_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>MEDIUMMODULES</span>
    </a>
    <ul class="sub">
        <li id="MEDIUMMODULES_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\MEDIUMMODULES\MEDIUMMODULES_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="MEDIUMMODULES_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\MEDIUMMODULES\MEDIUMMODULES_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="OVERCURRENTQUICKTEST_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>OVERCURRENTQUICKTEST</span>
    </a>
    <ul class="sub">
        <li id="OVERCURRENTQUICKTEST_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\OVERCURRENTQUICKTEST\OVERCURRENTQUICKTEST_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
    </ul>
</li>
<li id="RESISTANCE_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>RESISTANCE</span>
    </a>
    <ul class="sub">
        <li id="RESISTANCE_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\RESISTANCE\RESISTANCE_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="RESISTANCE_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\RESISTANCE\RESISTANCE_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="RESISTANCE_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>RGROUND</span>
    </a>
    <ul class="sub">
        <li id="RGROUND_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\RGROUND\RGROUND_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="RESISTANCE_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>RTD</span>
    </a>
    <ul class="sub">
        <li id="RTD_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\RTD\RTD_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="SETTING_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>SETTING</span>
    </a>
    <ul class="sub">
        <li id="SETTING_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\SETTING\SETTING_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
    </ul>
</li>
<li id="TRANSFORMER_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>TRANSFORMER</span>
    </a>
    <ul class="sub">
        <li id="TRANSFORMER_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\TRANSFORMER\TRANSFORMER_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="TRANSFORMER_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\TRANSFORMER\TRANSFORMER_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="UNDEROVERVOLTAGETEST_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>UNDEROVERVOLTAGETEST</span>
    </a>
    <ul class="sub">
        <li id="UNDEROVERVOLTAGETEST_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\UNDEROVERVOLTAGETEST\UNDEROVERVOLTAGETEST_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="UNDEROVERVOLTAGETEST_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\UNDEROVERVOLTAGETEST\UNDEROVERVOLTAGETEST_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>
    </ul>
</li>
<li id="VCC_sub_menu_BO" class="sub-menu whatsnew_BO">
    <a href="javascript:;">
        <img width="20px" src="asset/Image/Close_Book.png"><span>VCC</span>
    </a>
    <ul class="sub">
        <li id="VCC_Debug">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\VCC\VCC_Debug"><img width="18px" src="asset/Image/help.png">Debug</a>
        </li>
        <li id="VCC_Option">
            <a class="newpage whatsnew_BO" href="#" name="Pages\WhatsNew_BO\EN\VCC\VCC_Option"><img width="18px" src="asset/Image/help.png">Option</a>
        </li>

        <!-- vb end-->
    </ul>

</li>

</div>