<!-- Contant Relay -->
<div id="contant-Relay" class="tabBlock-pane none-display">
    <!-- vb start Relay-->
    <li id="Assmbling AMR Relay_" class="sub-menu relay">
        <a href="javascript:;" class="">
            <img width="20px" src="asset/Image/Close_Book.png">
            <span>
                Introdusing
                Company and Produces
            </span>
        </a>
        <ul class="sub">
            <li id="RE_Assembly_Stages_of_AMR_Relay">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\A\RE_Assembly_Stages_of_AMR_Relay">
                    <img width="18px" src="asset/Image/help.png">ASSEMBLY STAGES OF AMR RELAY
                </a>
            </li>
        </ul>
    </li>
    <li id="Software Installation" class="sub-menu relay">
        <a href="javascript:;" class="">
            <img width="20px" src="asset/Image/Close_Book.png">
            <span>
                Software
                Download and Installation
            </span>
        </a>
        <ul class="sub">
            <li id="RE_Software_Installation">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\B\RE_Software_Installation">
                    <img width="18px" src="asset/Image/help.png">SOFTWARE INSTALLATION
                </a>
            </li>
        </ul>
    </li>
    <li id="Login to the main environment of the software" class="sub-menu relay">
        <a href="javascript:;" class="">
            <img width="20px" src="asset/Image/Close_Book.png">
            <span>
                Software
                Homepage and Create Project
            </span>
        </a>
        <ul class="sub">
            <li id="RE_Login_to_the_main_environment">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\C\RE_Login_to_the_main_environment">
                    <img width="18px" src="asset/Image/help.png">LOGIN TO THE MAIN ENVIRONMENT OF THE SOFTWARE
                </a>
            </li>
        </ul>
    </li>
    <li id="How to Connect to Relay" class="sub-menu relay">
        <a href="javascript:;" class="">
            <img width="20px" src="asset/Image/Close_Book.png">
            <span>
                Connection
                and Update Firmware
            </span>
        </a>
        <ul class="sub">
            <li id="RE_Connect_with_relay">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\D\RE_Connect_with_relay">
                    <img width="18px" src="asset/Image/help.png">CONNECT WITH RELAY
                </a>
            </li>
            <li id="RE_Firmware_Relay_Update">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\D\RE_Firmware_Relay_Update">
                    <img width="18px" src="asset/Image/help.png"> FIRMWARE RELAY UPDATE
                </a>
            </li>
        </ul>
    </li>
    <li id="Read Hardware and Working with Units and Cards" class="sub-menu relay">
        <a href="javascript:;" class="">
            <img width="20px" src="asset/Image/Close_Book.png">
            <span>
                Relay
                Hardware
            </span>
        </a>
        <ul class="sub">
            <li id="RE_Relay_Hardware_module">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\F\RE_Relay_Hardware_module">
                    <img width="18px" src="asset/Image/help.png">RELAY HARDWARE MODULE
                </a>
            </li>
            <li id="RE_Set_CT_PT_Ratios">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\F\RE_Set_CT_PT_Ratios">
                    <img width="18px" src="asset/Image/help.png">VOLTAGE AND CURRENT TRANSFORMERS DATA
                </a>
            </li>
        </ul>
    </li>
    <li id="Under Voltage  protection test" class="sub-menu relay">
        <a href="javascript:;" class="">
            <img width="20px" src="asset/Image/Close_Book.png">
            <span>
                AMR Relay
                Test
            </span>
        </a>
        <ul class="sub">
            <li id="RE_Voltage_reduction_protection_test_in_AMR_relay">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\ZA\RE_Voltage_reduction_protection_test_in_AMR_relay">
                    <img width="18px" src="asset/Image/help.png">UNDER VOLTAGE PROTECTION TEST IN AMR RELAY (SIMPLE TEST USING TEMPLATES)
                </a>
            </li>
            <li id="RE_Over_Voltage_protection_test_in_AMR_relay">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\ZA\RE_Over_Voltage_protection_test_in_AMR_relay">
                    <img width="18px" src="asset/Image/help.png">OVERVOLTAGE PROTECTION TEST IN AMR RELAY (SIMPLE TEST USING TEMPLATES)
                </a>
            </li>
            <li id="RE_Directional_overcurrent_protection_test">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\ZA\RE_Directional_overcurrent_protection_test">
                    <img width="18px" src="asset/Image/help.png">NEGATIVE SEQUENCE OVERCURRENT PROTECTION TEST IN AMR RELAY (SIMPLE TEST USING TEMPLATES)
                </a>
            </li>
            <li id="RE_Directional_overcurrent">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\ZA\RE_Directional_overcurrent">
                    <img width="18px" src="asset/Image/help.png">DIRECTIONAL OVERCURRENT PROTECTION TEST IN AMR RELAY (SIMPLE TEST USING TEMPLATES)
                </a>
            </li>
            <li id="RE_Non_directional_overcurrent_protection_test">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\ZA\RE_Non_directional_overcurrent_protection_test">
                    <img width="18px" src="asset/Image/help.png">NON-DIRECTIONAL OVERCURRENT PROTECTION TEST IN AMR RELAY (SIMPLE TEST USING TEMPLATES)
                </a>
            </li>
            <li id="RE_Distance_protection_test">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\ZA\RE_Distance_protection_test">
                    <img width="18px" src="asset/Image/help.png">DISTANCE PROTECTION TEST IN AMR RELAY (SIMPLE TEST USING TEMPLATES)
                </a>
            </li>
            <li id="RE_Differential_protection_test">
                <a class="newpage relay" href="#" name="Pages\Relay\EN\ZA\RE_Differential_protection_test">
                    <img width="18px" src="asset/Image/help.png">DIFFERENTIAL PROTECTION TEST IN AMR RELAY (SIMPLE TEST USING TEMPLATES)
                </a>
            </li>
            <!-- VB END -->
        </ul>
    </li>


</div>