@font-face {
    font-family: "Robot";
    src: url("~/asset/Fonts/OpenSans/OpenSans-SemiBold.ttf");
}

html {
    height: 100%;
    overflow: hidden !important;
}

body {
    font-family: Robot !important;
    overflow: hidden !important;
    height: 100% !important;
}

.height-100 {
     height: 100% !important;
}

#curentpage {
     display: none !important;
}

.none-display {
     display: none;
}

.disable-select {
    user-select: none !important;
    /* supported by Chrome and Opera */
    -webkit-user-select: none !important;
    /* Konqueror  */
    -moz-user-select: none !important;
    /* Firefox  */
    -ms-user-select: none !important;
    /* Internet Explorer/Edge  */
}

/* scroll */

::-webkit-scrollbar {
     width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #19B5B4;
}

/* nav bar */

.NavbarCustomeHelp {
    border-bottom: 1px solid rgba(131, 131, 131, 0.219);
    height: 50px;
    background: linear-gradient(65deg, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 1) 87%, rgba(25, 181, 180, 1)87%);
}

.menu-help {
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 100% !important;
}

.menu-help_li { list-style: none; }

.log-in-menu {
    position: absolute;
    right: 20px;
    margin-top: 5px;
}

.image_log {
     width: 100px;
}

@media (max-width: 500px) {
    .image_log { display: none; }

    .NavbarCustomeHelp { background: linear-gradient(65deg, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 1) 47%, rgba(25, 181, 180, 1)47%); }
}

/* contant_Show */

.panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    height: 100%;
    background-color: #fff;
}

.menu-Button {
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
    width: 50px;
}

.menu-Button-text {
    display: block;
    font-size: 10px;
    margin: 0 !important;
}

.menu-Button:hover {
    background-color: #d2eaff;
    border-top: 1px solid rgba(194, 250, 96, 0.51);
    border-left: 1px solid rgba(194, 250, 96, 0.51);
    border-right: 1px solid rgba(194, 250, 96, 0.51);
}

/*panel left*/

.panel-left {
    flex: 0 0 auto;
    padding: 0;
    width: 22%;
    max-width: 25%;
    min-width: 0.5%;
    white-space: nowrap;
    overflow: hidden;
    background: #F0F0F0;
    color: white;
}

@media (max-width: 750px) {
    .panel-left {
        flex: 0 0 auto;
        padding: 0;
        width: 20%;
        max-width: 100%;
        min-width: 0.5%;
        white-space: nowrap;
        overflow: hidden;
        background: #F0F0F0;
        color: white;
        z-index: 1;
    }
}

.sarech_label {
    margin: 0 !important;
    padding: 0 !important;
}

.input-serach {
    width: 80%;
    border: 1px solid rgba(131, 131, 131, 0.219);
    border-radius: 5px;
}

.input-serach::placeholder {
    font-size: 12PX !important;
    text-align: center;
}

.hr-sidebar {
     margin: 3px;
}

.categury_div {
    margin-top: 0px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 2PX;
}

.serach-div {
    margin-top: 3px;
    text-align: center;
}

#tabfigure {
    height: 75%;
    padding-bottom: 8%;
}

.tabBlock-content {
    background-color: #fff;
    border: 2px inset rgba(131, 131, 131, 0.219);
    margin-left: 3px;
    width: 98%;
    height: 122%;
    line-height: normal;
    position: relative;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.tabBlock-pane > :last-child {
     margin-bottom: 0;
}

.tabBlock-pane {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-size: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.lang_div {
    border: 1px solid rgb(212, 212, 212);
    padding: 5px;
    margin-top: 4px;
    margin-left: 15px;
    border-radius: 5px;
}

.select-style {
    border-color: rgba(121, 119, 119, 0.527);
    border-radius: 2px;
    width: 100px;
    padding: 2px;
    overflow: hidden;
    text-align: center !important;
    font-size: 10px !important;
    text-align: justify;
    font-weight: 800;
}

.select-style select:focus {
     outline: none;
}

#search {
     display: none;
}

.v-line {
    border-left: 2px solid rgba(131, 131, 131, 0.219);
    height: 90%;
    left: 50%;
    position: relative;
    margin-top: 3px;
}

.sub-menu {
    white-space: normal;
    list-style: none;
}

.sub-menu > a>span {
    font-size: 10px !important;
    color: black;
}
ul.sub {
    list-style: none;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    padding-inline-start: 10px !important;
}

.li_select {
    background-color: #0089f9;
    border: 1px dashed #484646 !important;
    font-weight: 600 !important;
    color: rgb(252, 252, 252) !important;
}

a.newpage {
    color: black;
    font-size: 9px !important;
    font-weight: 500;
    white-space: normal;
    text-decoration: none;
    padding: 3px;
}

li .sub-menu a.newpage:hover {
     border-color: #fff;
}

.sub {
    display: none;
}

ul li a span {
     color: black;
}

/*splitter*/

.splitter {
    flex: 0 0 auto;
    width: 8px;
    cursor: col-resize;
    border: 1px solid transparent;
    margin-right: 10px;
    background: #F0F0F0 url(../Image/vsizegrip.png) center center no-repeat;
    border-right: 1px solid #F0F0F0;
    border-left: 1px solid #F0F0F0;
}

/*panel right*/

.panel-right {
    flex: 1 1 auto;
    padding: 0;
    width: 100%;
    padding-left: 0;
    background: #F0F0F0;
}

#content {
    height: 100% !important;
    margin-top: 0;
    margin-left: 0 !important;
    padding-left: 0;
    position: relative;
    right: 0 !important;
    top: 0;
    bottom: 0;
    float: left;
    width: 100% !important;
    padding-left: 0;
    background-color: #ffffff;
    overflow-x: scroll
}

.contant_style {
    height: 96% !important;
    min-height: 96% !important;
}

/* pages style */

@font-face {
    font-family: "Robot";
    src: url(~/asset/Fonts/OpenSans/OpenSans-SemiBold.ttf)
}

.zoom_img {
    position: absolute;
    width: 400px;
}

@media (max-width: 750px) {
    img {
        max-width: 100%;
        height: auto;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        box-shadow: 0 0 2px 1px rgb(0 140 186);
        background-color: white;
        box-shadow: 0 4px 8px 0 rgb(0 0 0), 0 6px 20px 0 rgb(0 0 0);
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }
}

.card-panel {
    text-align: justify !important;
    margin-left: 80px !important;
    font-size: 14px !important;
    border-radius: 13px !important;
    font-weight: 600;
    margin-left: 2% !important;
    margin-right: 2% !important;
    color: black;
}

h3 * {
    text-decoration: none !important;
    color: #ffff !important;
    font-size: 20px !important;
}

.Bullet-Star {
     margin: 0 !important;
}

h3,
h4 {
    margin-left: 2% !important;
    margin-right: 2% !important;
    font-size: 15px !important;
    font-weight: bolder;
    border: 1px solid #02312c !important;
    box-sizing: content-box !important;
    text-align: center !important;
    background-color: #19B5B4;
    border-radius: 10px !important;
    padding: 5px 10px !important;
    color: #fff !important;
}

span {
    font-family: "Robot" !important;
    font-style: normal !important;
    font-size: 14px !important;
}

center > img {
    max-width: 30%;
    height: auto;
    width: auto;
    background-color:white;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 0px;
    padding: 1px !important;
    max-width: 200px !important;
    max-height: 250px !important;
    text-align: right;
}

center > img:hover {
     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

center {
    text-align: left;
    margin-left: 6%;
}

.MsoCommentText {
    font-size: 11px !important;
    text-align: justify !important;
    direction: ltr !important;
    unicode-bidi: embed !important;
    font-weight: 600 !important;
}

 #winchm_template_title > a { 
     color: black !important; 
     border: 2px solid #92929280 !important; 
     border-radius: 10px !important; 
     padding: 5px !important; 
     background-color: #F0F0F0 !important; 
     vertical-align: middle !important; 
     font-size: 25px !important; 
     font-size: medium !important; 
 } 

 #winchm_template_title > a:hover { 
     background-color: #d2eaff !important; 
     border: 2px solid rgba(194, 250, 96, 0.51) !important; 
     transition: background-color 0.5s !important; 
 } 

 .btn, 
 .btn-large, 
 .btn-flat { 
     border: none; 
     border-radius: 0px !important; 
     display: inline-block; 
     height: 35px !important; 
     width: auto !important; 
     line-height: 17px; 
     outline: 0; 
     padding: 4px 1rem !important; 
     text-transform: uppercase; 
     vertical-align: middle; 
     -webkit-tap-highlight-color: transparent; 
     text-decoration: none !important; 
     border-radius: 5px !important; 
 } 

 .btn-circle.btn-xl { 
     width: 40px !important; 
     height: 40px !important; 
     padding: 10px 16px !important; 
     border-radius: 30% !important; 
     font-size: 24px !important; 
     line-height: 1.33 !important; 
     outline: none !important; 
     float: right !important; 
     position: fixed !important; 
     right: 50px !important; 
     bottom: 50px !important; 
     border: 2px solid rgba(146, 146, 128, 0.57); 
 } 

 .btn-circle.btn-xl:hover { 
     background-color: #d2eaff !important; 
     border: 2px solid rgba(194, 250, 96, 0.51) !important; 
     transition: background-color 0.5s !important; 
 } 

 .btn-circle { 
     width: 30px !important; 
     height: 30px !important; 
     padding: 6px 0px !important; 
     border-radius: 15px !important; 
     text-align: center !important; 
     font-size: 12px !important; 
     line-height: 1.42857 !important; 
     outline: none !important; 
 } 

 .tr_table { 
     border-radius: 5px; 
     border-bottom: 3px solid black; 
     border-top: 3px solid black; 
     border-left: 3px solid black; 
     border-right: 3px solid black; 
     background-color: rgba(156, 154, 154, 0.849); 
 } 
 
 .td_table { border-left: solid black 3px !important; } 

 * { box-sizing: border-box; } 


 .cancelbtn { background-color: #338a3e; } 
 
 .cancelbtn, 
 .deletebtn { 
     background-color: #338a3e; 
     float: left; 
     width: 50%; 
 } 

 .cancelbtn { 
     background-color: #4ccebf; 
     color: black; 
 } 

 .deletebtn { background-color: #6ab755; } 

 .container-doc { 
     padding: 16px; 
     text-align: center; 
 } 

 .close { 
     position: absolute; 
     right: 22px; 
     top: -2px; 
     font-size: 36px; 
     font-weight: bolder; 
     color: #842020; 
     transition: transform 500ms ease; 
 } 

 .clearfix::after { 
     content: ""; 
     clear: both; 
     display: table; 
 } 

 @media screen and (max-width: 350px) { 
     .cancelbtn, 
     .deletebtn { width: 100%; } 
 } 

 .Popuplogo { 
     width: 20%; 
     height: 13%; 
     background-color: transparent; 
     background-image: url(~/asset/Image/Vebko_EN_Log.ico); 
     background-repeat: no-repeat; 
     background-size: 95%; 
     margin-left: 10px; 
     margin-right: 10px; 
 } 

 .highlight { 
     background-color: #fff34d; 
     -moz-border-radius: 5px; 
     -webkit-border-radius: 5px; 

     border-radius: 5px; 
    
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); 
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); 
    
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); 

 } 

 .highlight { 
     padding: 1px 4px; 
     margin: 0 -4px; 
 } 

 .search_box { 
     float: left; 
     font-size: 16px; 
     font-weight: lighter; 
     color: #18b5b4; 
     top: 41px; 
     width: 302px; 
     border-color: #18b5b4; 
     border-radius: 19px; 
     border-width: thin; 
 } 

 input[type="submit"] { display: none !important; } 

 input { width: 100%; } 

 input { 
     background: none; 
     border: 3px solid #fff; 
     border-radius: 26px; 
     box-sizing: border-box; 
     padding: 5px 15px 7px; 
     font-size: 14px; 
     color: #fff; 
     z-index: 2; 
 } 

 input:focus { outline: none; } 
 
 * { box-sizing: border-box; } 

 .app { 
     max-height: fit-content; 
     max-width: 100%; 
     overflow-y: auto; 
     overflow-X: hidden !important; 
     height: 100%; 
 } 

 .finder { 
     position: fixed; 
     top: -53px; 
     right: 43%; 
     left: 1%; 
     z-index: 999; 
     display: -webkit-box; 
     display: -ms-flexbox; 
     display: -webkit-flex; 
     display: flex; 
     height: 46px; 
     background: #ffffffde; 
     font-family: Arial, Helvetica, sans-serif; 
     font-size: 11px; 
     border-bottom: 1px solid #e5e5e5; 
     box-shadow: 0 0 10px rgb(0 0 0); 
     padding: 3px; 
     transition: top 0.15s ease-out; 
 } 

 .finder.active { top: 0; } 

 .finder-input { 
     flex-grow: 1; 
     width: 0; 
     height: 39px !important; 
     border: none; 
     padding: 8px; 
     outline: none !important; 
 } 

 .finder-input.not-found { color: #e7353f; } 

 .btn-finder { 
     width: 40px; 
     height: 40px; 
     text-align: center; 
     padding: 0; 
 } 

 .finder-input, 
 .btn-finder:not(:last-child) { margin-right: 5px; } 

 .finder-count { 
     display: -webkit-box; 
     display: -ms-flexbox; 
     display: -webkit-flex; 
     display: flex; 
     flex-direction: column; 
     justify-content: center; 
     color: #888; 
     border-right: 1px solid #e5e5e5; 
     margin-right: 5px; 
     padding-right: 20px; 
     white-space: nowrap; 
 } 

 .btn-finder, 
 .finder-count { 
     flex-shrink: 0; 
     flex-grow: 0; 
 } 

 .highlight { background: #eeb900b8; } 

 .highlight.active { background: #f09206; } 

 html { overflow-y: scroll; } 

 body { 
     padding: 0px; 
     margin: 0px; 
     overflow: auto; 
     background-color: #FFFFFF; 
     text-align: justify !important; 
 } 

 #winchm_template_navigation { 
     margin-top: 0px; 
     margin-left: 0px; 
     margin-bottom: 0px; 
     margin-right: 0px; 
     padding-top: 5px; 
     padding-left: 5px; 
     padding-bottom: 5px; 
     padding-right: 5px; 
     font-family: arial, helvetica, sans-serif; 
     font-size: 10px; 
     font-style: normal; 
     font-weight: normal; 
     color: #626262; 
     border-bottom-style: solid; 
     border-bottom-width: 1px; 
     border-bottom-color: #DBDBDB; 
     background-color: #E2EDFA; 
     width: auto; 
 } 

 #winchm_template_button { 
     float: right; 
     top: -7px; 
     position: relative; 
     text-align: right; 
     right: -5px; 
     height: auto; 
 } 

 .msocomoff { display: none !important; } 

 #winchm_template_title { 
     font-weight: bold; 
     font-size: 24px; 
     color: #353535; 
     padding-right: 50px !important; 
     margin: 10px !important; 
     border-bottom-style: solid; 
     border-bottom-width: 1px; 
     border-bottom-color: #ffffff; 
     width: auto; 
     text-align: right; 
     height: 40px !important; 
     position: sticky !important; 
     top: 0 !important; 
     background: #FFF; 
     Z-INDEX: 1000 !important; 
 } 

 #winchm_template_content { 
     padding: 0px; 
     margin-top: 0; 
     margin-left: 0; 
     margin-bottom: 0; 
     margin-right: 0; 
     width: auto !important; 
     width: 100%; 
 } 

 #winchm_template_footer { 
     border-width: 1px; 
     border-color: #c0c0c0; 
     border-top-style: solid; 
     margin-top: 0px; 
     margin-left: 15px; 
     margin-bottom: 5px; 
     margin-right: 15px; 
     padding-top: 6px; 
     padding-left: 0px; 
     padding-bottom: 20px; 
     padding-right: 0px; 
     font-family: arial, helvetica, sans-serif; 
     font-size: 9px; 
     color: #909090; 
     text-align: center; 
     width: auto; 
 } 

 @media print { 
     #winchm_template_button { visibility: hidden; } 
 } 

 #inputmudal::placeholder { 
     color: #0033cc; 
     font-size: 0.5rem; 
 } 

 #inputmudal { 
     color: black; 
     font-size: 0.6rem; 
     font-weight: bold; 
     margin-left: 3% !important; 
     height: 50px !important; 
     border: 4px #63a8bc96 groove; 
     background-color: #18b5b4; 
     text-align: center; 
     padding: 0.25rem; 
     font-family: monospace; 
     text-decoration: underline; 
     margin-bottom: 25px; 
 } 

 #inputmudal:hover { cursor: pointer; } 

 .cpy { 
     width: 25%; 
     margin-left: 35% !important; 
     border-radius: 15px; 
     background-color: #18b5b4; 
     border: 2px solid white; 
     margin-top: 1%; 
     margin-bottom: 20px; 
 } 

 .cpy:hover { background-color: #3c3f3feb; } 

 .hidden { 
     position: fixed; 
     bottom: 0; 
     right: 0; 
     pointer-events: none; 
     opacity: 0; 
     transform: scale(0); 
 } 

 @media print { 
     #winchm_template_button { visibility: hidden; } 
 } 

 .cpy { 
     text-shadow: 2px 2px 5px rgb(22, 22, 22) !important; 
     box-shadow: 2px 2px 5px rgb(22, 22, 22) !important; 
 } 

 .cpy:hover { 
     transition: background-color 0.5s, border 0.5s; 
     background-color: #136d6d; 
     border: 3px solid #fff; 
 } 

 #serverstatus { 
     color: #fff; 
     background-color: rgb(69, 69, 69); 
     text-align: Left; 
     font-size: 13px; 
     margin-top: 5px; 
     padding: 5px; 
 } 

 #Attention { 
     color: red; 
     font-size: 15px; 
     font-weight: 900; 
     text-align: center; 
     margin-bottom: 5px; 
 } 

 #p-addres { 
     color: green; 
     font-size: 13px; 
 } 

 .page_link { 
     color: black; 
     text-align: center; 
     font-weight: bolder; 
     font-size: large; 
 