@{
    ViewData["Title"] = "Home";
    string Defut_Path = "Partial_veiw/defualt";
    string Select_Path = "Partial_veiw/Tester/EN/A/Assemblying_Stages_of_AMT105_Tester";
}
<div class="panel-container">
    <div class="panel-left">
        <div class="serach-div" title="Search">
            <label class="sarech_label" for="Serach_text">
                <img style="width:25px" src="asset/Image/magnifying-glass-search.png">
            </label>
            <input class="input-serach" id="Serach_text" type="text" placeholder="Search For Subjects ..." onkeyup="SearchFunction()">
        </div>
        <hr class="hr-sidebar">
        <div class="categury_div text-center">
            <select title="Categury" id="Tab_selection" class="select-style">
                <option value="Tester">Tester AMT105</option>
                <option value="Relay">Relay AMR</option>
                <option value="WhatsNew">Whats New</option>
                <option value="WorkOrder">Work Order</option>
            </select>
            <select title="WhatsNew Sort by" name="selector_whatsnew" id="wathsnew_dropdown" class="select-style" disabled>
                <option id="Title" value="Title" selected>Title</option>
                <option id="Version" value="Version">Version</option>
                <option id="BugOptions" value="BugOptions">Bugs & Options</option>
            </select>
        </div>
             <figure id="tabfigure" class="tabBlock disable-select "> 
                 <div id="tabBlock-content" class="tabBlock-content"> 
                     @await Component.InvokeAsync("Contant_Tester") 
                 </div> 
             </figure> 
    </div>
    <div class="splitter"></div>
    <div class="panel-right">
        <content  id="content">
            @if (!string.IsNullOrEmpty(Select_Path))
            {
                <partial name="@Select_Path" />
            }
            else
            {
                <partial name="@Defut_Path" />
            }
          
        </content>
    </div>
</div>