<div class="d-none" xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">






<link rel=File-List
href="Introducing_the_Device_and_Equipment_files/filelist.xml">
<link rel=Edit-Time-Data
href="Introducing_the_Device_and_Equipment_files/editdata.mso">

<title>AMT REFERENCE MANUAL</title>

<link rel=dataStoreItem
href="Introducing_the_Device_and_Equipment_files/item0001.xml"
target="Introducing_the_Device_and_Equipment_files/props002.xml">
<link rel=themeData
href="Introducing_the_Device_and_Equipment_files/themedata.thmx">
<link rel=colorSchemeMapping
href="Introducing_the_Device_and_Equipment_files/colorschememapping.xml">






</div>


    <div id="winchm_template_title">

        <a id="playmp4" title="Page Share" data-toggle="modal" data-target="#sharingModal" class="badge"><i
                class="bi bi-share-fill"></i></a>

        <a class="finder-activator badge" title="Search" data-finder-activator><i class="bi bi-search"></i></a>

        <a data-toggle="tooltip" title="Print" href="#" onClick="PrintElem();" class="badge"><i
                class="bi bi-printer-fill"></i></a>

        <a id="modalplay" title="Download and Play Video" data-toggle="modal" data-target="#myModal" class="badge"> <i
                class="bi bi-play-circle-fill"></i></a>
                
    </div>
    <button type="button" onclick="GetTop();" id="toTop" class="btn  btn-circle btn-xl" style="padding:0 !important ;">
        <i class="bi bi-arrow-up-circle" style="font-size: 25px;font-weight: bolder;">
        </i>
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
               <canvas src="~/asset/Image/LOGO_EN.png" class="Popuplogo"></canvas>
                    <button type="button" class="close mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-warning text-justify pl-3 pr-3">
                    <div id="Attention">Attention !</div>
                    <div class="body-modale-custom">
                       To download the instructional video, AMPRO software must be running, all instructional videos are saved in a specific path by AMPRO software. Instructional videos are stored in this path 
                       </br>
                        <div id="p-addres">
                            C:\Users\YourUserName\Documents\Vebko\AMPro-HelpFilms
                        </div>
                        you can have full access to the videos through this path, note that each video will be playable after the full download and after each download, each video will be played It will be done automatically, if there is a newer video on the vebko.org server,the new video will be downloaded and then made available to you.
                    </div>

                    <div id="serverstatus" class="serverstatus pl-2">
                        Server Status :
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-info text-light" data-toggle="tooltip"
                       href="~/VideoPlayer.html?page=https://vebko.org/Downloads/Instructions/"
                        target="_Blank" rel="noopener noreferrer">
                        Play online
                    </a>
                    <a id="#playmp4" type="button" class="btn btn-success text-light" data-toggle="tooltip"
                      href="~/VideoPlayer.html?page=https://vebko.org/Downloads/Instructions/"
                        onclick="checkServer()">
                        Download and play
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="sharingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                 <canvas src="~/asset/Image/LOGO_EN.png" class="Popuplogo"></canvas>
                    <button type="button" class="close mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-justify pl-3 pr-3">
                    <div class="page_link mb-4">Page Link</div>
                    <div class="row">
                        <a id="inputmudal" type="url" class="col-11 ur text"
                            aria-describedby="inputGroup-sizing-defult">https://vebko.org/Downloads/Instructions/ZZ_HELP/index.html?page=Pages\Tester\EN\A\Introducing_the_Device_and_Equipment.htm</a>
                        <button class="cpy" title="Copy" onclick="copy('.text')">
                            <i class="fa fa-clone text-light p-2"></i>
                        </button>
                        <input class="clipboard hidden" title="Copy"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="winchm_template_content">






<div class=WordSection1 dir=RTL>



<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>In order to remove the device from the suitcase, by
pressing the push button, the handle of the device should be placed in a 45 degree
angle and taken out of the case.</p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image001.png"
  o:title=""/>
</span><span lang=AR-SA style='font-family:"B Nazanin"'></span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>To change the status of handle of the device, it is
necessary to press the side buttons of the device simultaneously and then the
status should be changed. Once the device is positioned on the intended
surface, the handle of the device can be put on the device by pressing the push
button.</p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image002.jpg"
  o:title=""/>
</span><span lang=AR-SA style='font-family:"B Nazanin";mso-ansi-language:
DE'></span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>Also, it is possible for the handle to be
positioned beneath the device so it could be used as a stand for the device.<span
style='mso-bidi-language:FA'> In addition, the bases that are installed under
the device can be used for this purpose.</span></p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image003.jpg"
  o:title=""/>
</span><span lang=AR-SA style='font-family:"B Nazanin"'></span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>At the bottom of the device are the air
conditioning grooves and it is crucial to consider that, while positioning the
device, these grooves must not be blocked under any circumstances.</p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image004.jpg"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>The front panel of the device consists of the
outputs, inputs, device status lights, and the on/off power button.</p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image005.jpg"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>If the green light of the main relay is on, it
means that all main switches of the device are on.</p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image006.png"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>If the green light of “CONNECTED” is on, it means
that the device is correctly connected to the software via PC or mobile phone. </p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image007.jpg"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>If the red light of “ERROR” is on, it means that there
is a problem with the device and it has stopped working. As long as the problem
is not resolved, this light will remain on and the device will not work.</p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image008.png"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>The two voltage groups A and B allow the user to receive
up to 150<sup>V</sup> AC and 212V DC in all four phases simultaneously with a
precision of 10<sup>mV</sup> with a maximum current of 0.4<sup>A</sup> AC and
0.6<sup>A</sup> DC as well as up to 2<sup>A</sup> in transient mode. By
changing the wiring, it is possible to receive up to 450<sup>V</sup>
single-phase AC from the device. Also, it is possible to increase the output
voltage and provide the user with a 150<sup>V</sup> AC with a maximum current
of 0.8<sup>A</sup> by changing the wiring and paralleling the two current
sources. </p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image009.jpg"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>The two current groups A and B allow the user to receive
up to 32<sup>A</sup> in all six phases simultaneously or three-phase 64<sup>A</sup>.
Moreover, by changing the wiring, it is possible to receive up to 128
single-phase amperes from the device. </p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image010.jpg"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>At the “Auxiliary DC” output, a DC voltage as high
as 0 to 212<sup>V</sup> is permanently adjustable. This voltage is independent
of the test and can be used to switch on other devices such as relays.</p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image011.png"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>This is where the integrated cable is connected. The
amount of the current and the output voltage of this port are the same as the
amounts of the current and voltage ports that have been described earlier.</p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image012.jpg"
  o:title=""/>
</span></p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image013.png"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>The analog inputs of the device are capable of
receiving both analog and digital signals. All 8 inputs can be active
simultaneously. Other than reading them, these inputs can show the waveform of
voltage in three voltage levels of 4.5, 30 and 188<sup>V</sup> with the
precision of 1, 3 and 10<sup>mV</sup>. </p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image014.jpg"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>The “Analog DC Input” section is capable of
measuring voltages up to 200<sup>mV</sup> with a precision of 50<sup>µV</sup>
and current up to 500<sup>mA</sup> with a precision of 50<sup>µA</sup>.</p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image015.png"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>Generally, the back of the device consists of
various components including: </p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR><span lang=DE style='mso-ansi-language:DE'>Earth
port</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR><span lang=DE style='mso-ansi-language:DE'>Fuse</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>Power supply</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR><a name="_Hlk32213480"><span lang=DE
style='mso-ansi-language:DE'>RS232 port</span></a><span lang=DE
style='mso-ansi-language:DE'></span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR><a name="_Hlk32213797"></a><a name="_Hlk32213565"><span
style='mso-bookmark:_Hlk32213797'><span lang=DE style='mso-ansi-language:DE'>USB
port </span></span></a><span style='mso-bookmark:_Hlk32213797'><span lang=DE
style='mso-ansi-language:DE'>type A</span></span><span lang=DE
style='mso-ansi-language:DE'></span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR><a name="_Hlk32213687"><span lang=DE
style='mso-ansi-language:DE'>GPS</span></a><span lang=DE style='mso-ansi-language:
DE'></span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>USB port type B</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>LAN and Wi-Fi switches </p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR><span lang=DE style='mso-ansi-language:DE'>Ethernet
port </span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>This port is used to protect the earth connection
and the earth cable of the device is connected to this port.</p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image016.jpg"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>In this section, in order to protect the device, a
15A and 250V fuse is used.</p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image017.jpg"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>The power supply port is located here. The power
cord of the device is plugged to this port. </p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image018.jpg"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>The RS232 port is mainly used for resetting the IP
and updating the firmware. To do this, the RS232 dongle, which is a part of the
equipment of the device, needs to be connected to this port. Then, the
necessary operation, described in the following animations, needs to be
performed. </p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image019.png"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>In this section, by using the switch, the
communication protocol between the device and laptop is selected. If the switch
is up, the connection is via Wi-Fi and if the switch is down, the connection is
via LAN. The LAN port located under this switch is used for the mentioned
communication. The laptop settings for connecting a laptop to the device are
described in the following animations.</p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image020.png"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>The GPS antenna, which is used for time
synchronization of two devices for performing a longitudinal test, is connected
to this part. </p></div>

<div><p class=AAA-Aks dir=RTL><span dir=LTR>
 <img class="Image_Page"  src="~/Images/Tester/Introducing_the_Device_and_Equipment_files/image021.png"
  o:title=""/>
</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>Inside the black bag comes with a one-way
wire-to-female connection, a lizard clip, a 30 cm test wire, a 10 cm test wire
and a 4 mm test socket, and a belt clamp and a test socket 4 mm in diameter.</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>Other pieces of equipment that come with the device
are communication cables which are used for communicating with the relay and
injecting voltage or current. This side of the cable which has a fixed head is
connected to the device and the head on the other side which has a dynamic
plastic guard is connected to the equipment.</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR><span lang=DE style='mso-ansi-language:DE'>LAN
cable</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>The blue cable, shown, is used to connect the
device to a laptop.</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>Earth cable</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>The  cable is the ground (earth) wire where
its place of connection to the device was shown earlier. While one side of this
cable is connected to the device, the other side, where the crocodile clip is attached,
is connected to the location of the ground connection.</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>The black cable on the right is the power cable and
the one on the left is the GPS antenna cable. This antenna is used for End to
End tests. The GPS antenna is used for time synchronization of two devices to
performe a <a name="_Hlk16701314">longitudinal </a>test.</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR><span lang=DE style='mso-ansi-language:DE'>Serial Dongle</span>:</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>This dongle is used to reset the device. The 2nd
and 3rd pins of this dongle are interconnected, so if the dongle cannot be
accessed, the device can be reset by connecting the 2nd and 3rd pins to the
RS232 port located on the back of the device.</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>Capacitor box</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>In this capacitor set, there are 3 capacitors (10000μF)
which are used as a filter in equipment tests.</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>Integrated or Neutrik cable</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>This cable has 6 output wires on one end and a single
part on the other which is connected to the device. To plug this cable, first
insert the tab of the combination cable as it is shown in the image. Then,
after the Neutrik cable is inserted, spin it to the right until the metal pin
fits into its place. To unplug the Neutrik cable, pull the tab and spin it to
the left. <span lang=DE style='mso-ansi-language:DE'>After the spin is
complete, it can be removed.</span></p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>There are several labels attached to the sides of
the device. The first label includes contact information for device support.</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>The second label includes the serial number and
technical information of the device. </p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>Soft bag/ Backpack</p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>This case is designed for convenient transportation
of the device. </p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>To place it inside the case, the device must be
standing perpendicular to the surface. Then it can be placed in the case and
after that, the case can be closed. </p></div>

<div class = "card-panel hoverable"><p class=AAE-Normal dir=LTR>At the front and back of the case, there are
pockets where the equipment of the device can be placed.</p></div>

<p class=AAF-Normal dir=LTR>Inside the backpack, along with the device, there
are three 7-meter cables and 8 clamps for testing transformers and circuit
breakers, as well as several clamps to hold the connection between the cables.</p></div>

</div>

<div style='mso-element:comment-list'>





<div style='mso-element:comment'>

<div id="_com_1" class=msocomtxt language=JavaScript
onmouseover="msoCommentShow('_anchor_1','_com_1')"
onmouseout="msoCommentHide('_com_1')"><span style='mso-comment-author:
"javad ghyasvand";mso-comment-providerid:"Windows Live";mso-comment-userid:
020b1cd6c1c02935'><a name="_msocom_1"></a></span>

<p class=MsoCommentText dir=RTL><span class=MsoCommentReference><span dir=LTR
style='font-size:8.0pt'><span style='mso-special-character:comment'>&nbsp;<a
href="#_msoanchor_1" class=msocomoff>[jg1]</a></span></span></span><span
dir=LTR>Introducing_the_Device_and_Equipment</span></p></div>

</div>

</div>

</div>


  <script src="~/asset/JS/jquery-2.1.1.min.js"></script>
  <script src="~/asset/JS/jquery.highlight.js"></script>
  <script src="~/asset/JS/jquery.scrollto.js"></script>
  <script src="~/asset/JS/jquery.finder.js"></script>
  <script src="~/asset/JS/bootstrap.min.js"></script>
  <script src="~/asset/JS/zooming.js"></script>
  <script src="~/asset/JS/Defult_page_Js.js"></script>

 <script>
    const defaultZooming = new Zooming()
    const customZooming = new Zooming()
    const config = customZooming.config()
    const TRANSITION_DURATION_DEFAULT = config.transitionDuration
    const BG_COLOR_DEFAULT = config.bgColor
    const SCALE_BASE_DEFAULT = config.scaleBase
    const ACTIVE_CLASS = 'button-primary'
    const btnScaleSmall = document.getElementById('btn-scale-small')
    document.addEventListener('DOMContentLoaded', function () {
      defaultZooming.listen('img')
      customZooming.listen('img2')
    })

    function isActive(el) {
      return el.classList.contains(ACTIVE_CLASS)
    }
    function activate(el) {
      el.classList.add(ACTIVE_CLASS)
    }
    function deactivate(el) {
      el.classList.remove(ACTIVE_CLASS)
    }
    function toggleActive(el) {
      if (isActive(el)) {
        deactivate(el)
        return false
      } else {
        activate(el)
        return true
      }
    }
  </script>


