<!-- Contant WhatsNew Title -->
<div id="contant-WhatsNew_DA" class="tabBlock-pane none-display">
<!-- vb start WhatsNew-->

<li id="AMTDIFFERENTIAL-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTDIFFERENTIAL</span>
    </a>
    <ul class="sub">
        <li id="AMTDIFFERENTIAL">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\AMTDIFFERENTIAL\AMTDIFFERENTIAL"><img width="18px" src="asset/Image/help.png">AMTDIFFERENTIAL</a>
        </li>
    </ul>
</li>
<li id="AMTDIFFHARMONICS-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTDIFFHARMONICS</span>
    </a>
    <ul class="sub">
        <li id="AMTDIFFHARMONICS">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\AMTDIFFHARMONICS\AMTDIFFHARMONICS"><img width="18px" src="asset/Image/help.png">AMTDIFFHARMONICS</a>
        </li>
    </ul>
</li>
<li id="AMTDISTANCE-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTDISTANCE</span>
    </a>
    <ul class="sub">
        <li id="AMTDISTANCE">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\AMTDISTANCE\AMTDISTANCE"><img width="18px" src="asset/Image/help.png">AMTDISTANCE</a>
        </li>
    </ul>
</li>
<li id="AMTOVERCURRENT-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTOVERCURRENT</span>
    </a>
    <ul class="sub">
        <li id="AMTOVERCURRENT">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\AMTOVERCURRENT\AMTOVERCURRENT"><img width="18px" src="asset/Image/help.png">AMTOVERCURRENT</a>
        </li>
    </ul>
</li>
<li id="AMTSEQUENCER-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTSEQUENCER</span>
    </a>
    <ul class="sub">
        <li id="AMTSEQUENCER">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\AMTSEQUENCER\AMTSEQUENCER"><img width="18px" src="asset/Image/help.png">AMTSEQUENCER</a>
        </li>
    </ul>
</li>
<li id="AMTSYNCHRONIZER-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTSYNCHRONIZER</span>
    </a>
    <ul class="sub">
        <li id="AMTSYNCHRONIZER">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\AMTSYNCHRONIZER\AMTSYNCHRONIZER"><img width="18px" src="asset/Image/help.png">AMTSYNCHRONIZER</a>
        </li>
    </ul>
</li>
<li id="AMTTRANSDUCER_METER-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTTRANSDUCER&METER</span>
    </a>
    <ul class="sub">
        <li id="AMTTRANSDUCER&METER">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\AMTTRANSDUCER&METER\AMTTRANSDUCER&METER"><img width="18px" src="asset/Image/help.png">AMTTRANSDUCER&METER</a>
        </li>
    </ul>
</li>
<li id="AMTTRANSIENT-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTTRANSIENT</span>
    </a>
    <ul class="sub">
        <li id="AMTTRANSIENT">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\AMTTRANSIENT\AMTTRANSIENT"><img width="18px" src="asset/Image/help.png">AMTTRANSIENT</a>
        </li>
    </ul>
</li>
<li id="AMTVISTARTING-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AMTVISTARTING</span>
    </a>
    <ul class="sub">
        <li id="AMTVISTARTING">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\AMTVISTARTING\AMTVISTARTING"><img width="18px" src="asset/Image/help.png">AMTVISTARTING</a>
        </li>
    </ul>
</li>
<li id="AUTORECLOSURE-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>AUTORECLOSURE</span>
    </a>
    <ul class="sub">
        <li id="AUTORECLOSURE">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\AUTORECLOSURE\AUTORECLOSURE"><img width="18px" src="asset/Image/help.png">AUTORECLOSURE</a>
        </li>
    </ul>
</li>
<li id="CAPACITORVOLTAGETRANSFORMER_CVT_-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>CAPACITORVOLTAGETRANSFORMER(CVT)</span>
    </a>
    <ul class="sub">
        <li id="CAPACITORVOLTAGETRANSFORMER(CVT)">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\CAPACITORVOLTAGETRANSFORMER(CVT)\CAPACITORVOLTAGETRANSFORMER(CVT)"><img width="18px" src="asset/Image/help.png">CAPACITORVOLTAGETRANSFORMER(CVT)</a>
        </li>
    </ul>
</li>
<li id="CIRCUITBREAKER_CB_-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>CIRCUITBREAKER(CB)</span>
    </a>
    <ul class="sub">
        <li id="CIRCUITBREAKER(CB)">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\CIRCUITBREAKER(CB)\CIRCUITBREAKER(CB)"><img width="18px" src="asset/Image/help.png">CIRCUITBREAKER(CB)</a>
        </li>
    </ul>
</li>
<li id="CURRENTTRANSFORMER_CT_-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>CURRENTTRANSFORMER(CT)</span>
    </a>
    <ul class="sub">
        <li id="CURRENTTRANSFORMER(CT)">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\CURRENTTRANSFORMER(CT)\CURRENTTRANSFORMER(CT)"><img width="18px" src="asset/Image/help.png">CURRENTTRANSFORMER(CT)</a>
        </li>
    </ul>
</li>
<li id="HARDWARE-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>HARDWARE</span>
    </a>
    <ul class="sub">
        <li id="HARDWARE">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\HARDWARE\HARDWARE"><img width="18px" src="asset/Image/help.png">HARDWARE</a>
        </li>
    </ul>
</li>
<li id="HOMEPAGE-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>HOMEPAGE</span>
    </a>
    <ul class="sub">
        <li id="HOMEPAGE">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\HOMEPAGE\HOMEPAGE"><img width="18px" src="asset/Image/help.png">HOMEPAGE</a>
        </li>
    </ul>
</li>
<li id="INSTRUMENTTEST-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>INSTRUMENTTEST</span>
    </a>
    <ul class="sub">
        <li id="INSTRUMENTTEST">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\INSTRUMENTTEST\INSTRUMENTTEST"><img width="18px" src="asset/Image/help.png">INSTRUMENTTEST</a>
        </li>
    </ul>
</li>
<li id="MEDIUMMODULES-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>MEDIUMMODULES</span>
    </a>
    <ul class="sub">
        <li id="MEDIUMMODULES">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\MEDIUMMODULES\MEDIUMMODULES"><img width="18px" src="asset/Image/help.png">MEDIUMMODULES</a>
        </li>
    </ul>
</li>
<li id="OVERCURRENTQUICKTEST-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>OVERCURRENTQUICKTEST</span>
    </a>
    <ul class="sub">
        <li id="OVERCURRENTQUICKTEST">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\OVERCURRENTQUICKTEST\OVERCURRENTQUICKTEST"><img width="18px" src="asset/Image/help.png">OVERCURRENTQUICKTEST</a>
        </li>
    </ul>
</li>
<li id="RESISTANCE-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>RESISTANCE</span>
    </a>
    <ul class="sub">
        <li id="RESISTANCE">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\RESISTANCE\RESISTANCE"><img width="18px" src="asset/Image/help.png">RESISTANCE</a>
        </li>
    </ul>
</li>
<li id="RGROUND-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>RGROUND</span>
    </a>
    <ul class="sub">
        <li id="RGROUND">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\RGROUND\RGROUND"><img width="18px" src="asset/Image/help.png">RGROUND</a>
        </li>
    </ul>
</li>
<li id="RTD-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>RTD</span>
    </a>
    <ul class="sub">
        <li id="RTD">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\RTD\RTD"><img width="18px" src="asset/Image/help.png">RTD</a>
        </li>
    </ul>
</li>
<li id="SETTING-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>SETTING</span>
    </a>
    <ul class="sub">
        <li id="SETTING">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\SETTING\SETTING"><img width="18px" src="asset/Image/help.png">SETTING</a>
        </li>
    </ul>
</li>
<li id="TRANSFORMER-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>TRANSFORMER</span>
    </a>
    <ul class="sub">
        <li id="TRANSFORMER">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\TRANSFORMER\TRANSFORMER"><img width="18px" src="asset/Image/help.png">TRANSFORMER</a>
        </li>
    </ul>
</li>
<li id="UNDEROVERVOLTAGETEST-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>UNDEROVERVOLTAGETEST</span>
    </a>
    <ul class="sub">
        <li id="UNDEROVERVOLTAGETEST">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\UNDEROVERVOLTAGETEST\UNDEROVERVOLTAGETEST"><img width="18px" src="asset/Image/help.png">UNDEROVERVOLTAGETEST</a>
        </li>
    </ul>
</li>
<li id="VCC-sub-menu" class="sub-menu whatsnew">
    <a href="javascript:;" class="">
        <img width="20px" src="asset/Image/Close_Book.png"><span>VCC</span>
    </a>
    <ul class="sub">
        <li id="VCC">
            <a class="newpage whatsnew" href="#" name="Pages\WhatsNew_DA\EN\VCC\VCC"><img width="18px" src="asset/Image/help.png">VCC</a>
        </li>

        <!-- vb end -->
    </ul>
</li>
</div>