<!-- Contant Tester -->
<div id="contant-Tester" class="tabBlock-pane">
    <!--Contant tester -->
    <li id="Introducing the Company and Products" class="sub-menu tester">
        <ul class="sub">
            <li id="Assemblying_Stages_of_AMT105_Tester">
                <a class="newpage tester" href="#" name="Partial_veiw/Tester/EN/A/Assemblying_Stages_of_AMT105_Tester">
                    <img width="18px" src="asset/Image/help.png">ASSEMBLYING STAGES OF AMT105 TESTER
                </a>
            </li>
            <li id="Introducing_the_Device_and_Equipment">
                <a class="newpage tester" href="#" name="Partial_veiw/Tester/EN/A/Introducing_the_Device_and_Equipment">
                    <img width="18px" src="asset/Image/help.png">INTRODUCING THE DEVICE AND EQUIPMENT
                </a>
            </li>
        </ul>
    </li>
    <li id="Software.Introduction.Software.Installation" class="sub-menu tester" >
        <a href="javascript:;" class="">
            <img width="20px" src="asset/Image/Close_Book.png">
            <span>
                Software
                Installation and Connection Setting
            </span>
        </a>
        <ul class="sub">
            <li id="Software_Installation">
                <a class="newpage tester" href="#" name="Partial_veiw/Tester/EN/B/Software_Installation">
                    <img width="18px" src="asset/Image/help.png">SOFTWARE INSTALLATION
                </a>
            </li>
            <li id="How_to_Connect_to_AMT105">
                <a class="newpage tester" href="#" name="Partial_veiw/Tester/EN/B/How_to_Connect_to_AMT105">
                    <img width="18px" src="asset/Image/help.png">HOW TO CONNECT TO AMT105
                </a>
            </li>
            <li id="Simultaneous_Connection_of_Several_Testers">
                <a class="newpage tester" href="#" name="Partial_veiw/Tester/EN/B/Simultaneous_Connection_of_Several_Testers">
                    <img width="18px" src="asset/Image/help.png">SIMULTANEOUS CONNECTION OF SEVERAL TESTERS
                </a>
            </li>
            <li id="Resetting_IP_Address">
                <a class="newpage tester" href="#" name="Partial_veiw/Tester/EN/B/Resetting_IP_Address">
                    <img width="18px" src="asset/Image/help.png">RESETTING IP ADDRESS
                </a>
            </li>
            <li id="Updating_Firmware_of_Device_Manually">
                <a class="newpage tester" href="#" name="Partial_veiw/Tester/EN/B/Updating_Firmware_of_Device_Manually">
                    <img width="18px" src="asset/Image/help.png">UPDATING FIRMWARE OF DEVICE MANUALLY
                </a>
            </li>
        </ul>
    </li>
</div>