<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Help</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vebko</title>
    <!-- icon  -->
    <link rel="icon" href="~/asset/Image/Vebko_EN.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="~/asset/CSS/Bootstrapv4.3.1.css" rel="stylesheet">
    <!--Page style-->
    <link href="~/asset/CSS/Page_Style.css" rel="stylesheet">
    <!-- Custom styles-->
    <link href="~/asset/CSS/Styles_LTR_V1.0.css" rel="stylesheet">
    <!--Defult style-->
    <link href="~/asset/CSS/defult_page.css" rel="stylesheet">
    <!-- fonts -->
    <link href="~/asset/Fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    <!-- Icons -->
    <link href="~/asset/Fonts/bootstrap-icons-1.2.2/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<header class="heading_style">
    <!-- navbar -->
    <div class="NavbarCustomeHelp">
        <ul class="menu-help">
            <li class="menu-help_li">
                <button type="button" title="Close/Open Menu" class="menu-Button" id="Btn-Col-Sidebar">
                    <img src="~/asset/Image/sidebar.png" width="35px" height="30px">
                        <p id="txt_sh-hi" style="font-size: 10px!important;" class="menu-Button-text">Close</p>
                </button>
            </li>
            <li class="menu-help_li">
                <button id="Btn-printer" title="Print" type="button" class="menu-Button" data-toggle="modal" data-target="#printpopup">
                    <img src="~/asset/Image/printer.png" width="35px" height="30px">
                        <p class="menu-Button-text" style="font-size: 10px !important;">Print</p>
                </button>
            </li>
            <li class="menu-help_li">
                <button id="Btn-PDF" title="Donwload PDF" type="button" class="menu-Button" data-toggle="modal" data-target="#dowloadpopup">
                    <img src="~/asset/Image/download-pdf.png" width="35px" height="30px">
                        <p class="menu-Button-text" style="font-size: 10px!important;">PDF</p>
                </button>
            </li>
            <li class="menu-help_li li-hr">
                <div class="v-line">
                </div>
            </li>
            <li class="menu-help_li" title="Language">
                <div id class="lang_div">
                    <i class="World_Disp">
                        <img src="~/asset/Image/world.png" width="30px" height="30px">
                    </i>
                    <select id="lang_Help" class="select-style">
                        <option value="English" selected=selected>English</option>
                        <option value="Persian">Persian</option> <option value="German">German</option>
                        <option value="Spanish">Spanish</option>
                        <option value="French">French</option>
                        <option value="Arabic">Arabic</option>
                    </select>
                </div>
            </li>
            <div class="log-in-menu">
                <img src="~/asset/Image/Vebko_EN_Log.png" class="image_log">
            </div>
        </ul>
    </div>
</header>
<div class="contant_style">
    @RenderBody()
</div>




<script src="asset/JS/jquery.js"></script>
<script src="~/asset/JS/jquery-2.1.1.min.js"></script>
<script src="~/asset/JS/jquery.scrollto.js"></script>
<script src="~/asset/JS/jquery.finder.js"></script>
<script src="~/asset/JS/bootstrap.min.js"></script>
<script src="~/asset/JS/zooming.js"></script>
<script src="~/asset/JS/Defult_page_Js.js"></script>
<script src="~/asset/JS/jquery-2.1.1.min.js"></script>
<script src="~/asset/JS/bootstrap.min.js"></script>
<script src="~/asset/JS/popper.js"></script>
<script src="~/asset/JS/jquery_resizable_LTR.js"></script>
<script src="~/asset/JS/jsResize_LTR_V1.0.js"></script>
<script src="~/asset/JS/jsfileV1.0.js"></script>
<script src="~/asset/JS/jspdf.umd.min.js"></script>
@* <script src="~/asset/JS/jquery.highlight.js"></script> *@
</body>
</html>